
#formulario-componente{
  height: 100dvh;
  background-color: var(--color-2);
}

h2{
  text-align: center;
  padding:30px 0px;
}

form{
  display:flex;
  flex-direction:column;
  align-items: center;
  gap:12px;
}

form small{
  color:red;
  background-color: var(--color-0);
  border:none;
  padding:0px;
  position:absolute;
  top:0;
  left:0;
  pointer-events: none;
}

.inputs-contenedor {
  position:relative;
}

.inputs-contenedor > * {
  width: 100%;
  padding:12px;
  font-size:18px;
  border-radius: 16px;
  border:none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form > *{
  width: 80%;
  font-size:18px;
  border-radius:16px;
  border:1px solid black;
  background-color: var(--color-0);
}

select{
  appearance: base-select;
  anchor-name: --mi-select;
}

::picker(select){
  appearance: base-select;
}

::picker(select){
  position: absolute;
  position-anchor: --mi-select; 
  top: anchor(bottom); 
  left: anchor(left);
  margin-top: 5px;
  background-color: var(--color-0);
  color: black;
}

option{
  padding:12px;
}

form .inputs-contenedor textarea{
  height: 180px;
  border-radius: 14px;

}

form .inputs-contenedor textarea:focus{
  outline: none;
}

div.contenedor-opciones{
  border:none;
  display:flex;
  justify-content: center;
  gap:12px;
  padding:0;
  background-color:var(--color-2);
}

.contenedor-opciones > *{
  background-color:var(--color-1);
  color:var(--color-0);
  padding:12px;
  font-size:18px;
  font-weight: bold;
  border-radius:12px;
  border:none;
  flex-basis: 50%;
}

emoji-mart{
  position:absolute;
  top:0;
  left:0;
  width: 100%; 
}

.inputs-contenedor.eliminar-tarea-contenedor button{
  background-color: rgb(255, 79, 79);
  color:white;
  cursor: pointer;
}