section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: var(--color-2);
}

form{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:30px;
}

.contenedor-input{
  display:flex;
  position:relative;
  align-items: center;
  justify-content: center;
  background-color: var(--color-0);
  border-radius:12px;
  border:1px solid black;
  padding:0px 12px;
}

span{
  font-size:30px;
}

input{
  font-size:18px;
  padding:18px;
  border-radius:12px;
  border:none;
}

input:focus{
  outline:none;
}

input[type='submit']{
  width: 100%;
  padding:12px 18px;
  background-color: var(--color-1);
  color:var(--color-0);
  cursor: pointer;
}

h1{
  font-size:2.4rem;
  color:var(--color-1);
  margin:0px 0px 40px 0px;
}

small{
  top:100%;
  left:20%;
  color:red;
  position:absolute;
}

p{
  margin:16px;
}