<section>
  
  <div class="contenedor-boton-cerrar-sesion">
    
    <button (click)="cerrarSesion()">
        <span class="material-symbols-outlined"> logout </span>
    </button>

  </div>

  <h2>Filtros</h2>

  <form class="filtros-formulario">
    <select #priori id="prioridad">

      <option value="todos">Todas</option>
      <option value="alta">Alta</option>
      <option value="media">Media</option>
      <option value="baja">Baja</option>
    </select>

    <select #state  id="estado">
      <option value="todas">Todas</option>
      <option value="completadas">Completadas</option>
      <option value="pendientes">Pendientes</option>
    </select>

    <input type="button" value="Filtrar" (click)="ejecutarFiltrado()">
  </form>

  @if(this.loading()){
    <app-loading></app-loading>
  }

  <ul class="lista-tareas">

    @for(tarea of this.tareas(); track tarea.id){

      <li class="item-tarea {{ tarea.prioridad }}" [routerLink]="['/tareas/edit' , tarea.id]">
        <!-- <span>
        {{ mostrarEmoji(tarea.emoji) }}
      </span> -->

      <lucide-angular [img]="mostrarEmoji(tarea.emoji)" class="my-icon" size="24"></lucide-angular>
      
      <p>{{ tarea.titulo }}</p>
    </li>

    }
  
    <button id="agregarTarea" routerLink="/tareas/new">
      +
    </button>

  </ul>

</section>
